body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}
a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 320px;
    margin: 0 auto;
        padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
    	/* < !--=============HEADER=============--> */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 16px 0;
}

.header-logo-part {
    color: #2e2f42;
}
.nav-list {
    display: none;
    gap: 40px;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
}

.nav-link {
    padding: 24px 0;
    display: block;
    position: relative;
    color: #2e2f42;
}

.current {
    color: #404bbf;
    position: relative;
}

.nav-link:first-child {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
}

.contacts-link:first-child {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:last-child {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
    display: none;
    gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.menu {
display: none;
}
@media screen and (min-width:768px) {
.open-menu-btn {
display: none;
}
.header-logo {
margin-right: 120px;
padding: 24px 0;
}
.nav-list {
display: flex;
gap: 40px;
}
.contacts {
display: block;
    font-style: normal;
}
.header-nav {
justify-content: space-between;
}
.nav-link {
    font-weight: 500;
display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: #404BBF;
}
.current::after {
    left: 0;
    bottom: -1px;
    content: "";
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
}
.menu-link:focus,
.menu-link:hover {
    color: #404bbf;
}
.contacts-link 
.iteam-info:hover,
.iteam-info:focus {
color: #404bbf;
}
.contacts-list {
display: flex;
    flex-direction: column;
    gap: 12px;
}
}
@media screen and (min-width: 1158px) {
.header-logo {
margin-right: 76px;
}
.header-nav {
    justify-content: space-between;
}
.contacts-list {
    flex-direction: row;
    gap: 40px;
}
.contacts-link {
    padding: 24px 0;
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
 }
/* < !--============HERO==============--> */
.section-hero {
    background-color: #2e2f42;
    /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg); */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-size: cover;
    display: block;
    margin: 0 auto;
    padding: 72px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    max-width: 216px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
@media screen and (min-width:768px) {
.section-hero {
display: block;
height: 436px;
background-image: linear-gradient(to bottom,
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(/images/hero-bg-tablet.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 112px 0;
}
.hero-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
}
}

@media screen and (min-width:1158px) {
.section-hero {
    display: block;
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
    url(/images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    }

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.1;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
}
}
/* < !--============BENEFITS============--> */
.benefits {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    margin: 0 auto;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.benefits_item {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin: 0 auto;
    padding: 24 px 0;
    display: block;
    margin-right: 0px;
    gap: 72px;
    width: calc((100% - 72px) / 4);
} 

.benefits-icons {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.benefits_item:first-child {
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.benefits-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} 

@media screen and (min-width:768px) {
.benefits-icons {
display: none;
    }
.benefits-list {
column-gap: 24px;
row-gap: 72px;
}

.benefits_item {
flex-basis: calc((100% - 24px) / 2);
}
.benefits-subtitle {
text-align: left;
}
}

@media screen and (min-width:1158px) {
.benefits-icons {
    width: 264px;
    height: 112px;
display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.benefits-list {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
        gap: 24px;
        top: 0;
        right: 0;
}
.visually-hidden {
color: #2e2f42;
    margin-bottom: 8px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-subtitle {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.benefits-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
}
/* < !-- <============REVIEWS============>--> */
/* .section {
    padding: 32px 0;
} */

.team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    padding: 32 px 0;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-subtitle-Mark {
    padding: 32px;
}

.team-image {
    width: 100%;
}

.social-media-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media-icons-item {
    width: 40px;
    height: 40px;
}

.social-media-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icons-link:hover,
.social-media-icons-link:focus {
    background-color: #404bbf;
    background-color: #404bbf;
}

.social-media-icons {
    fill: #f4f4fd;
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.team-list {
flex-direction: row;
flex-wrap: wrap;
display: flex;
gap: 72px;
margin: 0 auto;
}

.team-text-wrap {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    padding: 32px 0;
    padding-bottom: 8px 0;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 0 auto;
    margin-bottom: 8px;
}
@media screen and (min-width:768px) {
.team-list {
row-gap: 64px;
column-gap: 24px;
flex-direction: row;
flex-wrap: wrap;
display: flex;
}
.team-item {
flex-basis: calc((100% - 24px) / 2);
}
}

@media screen and (min-width:1158px) {
.team-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
gap: 24px;
flex-direction: row;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background-color: #FFFFFF;
}
.team-item {
flex-basis: calc((100% - 72px) / 4);
}
}
/* < !-- <============PORTFOLIO============>--> */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    flex-wrap: wrap;
    display: flex;
    gap: 48px;
}

.overlay-portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-item {
    background-color: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow:
            0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        cursor: pointer;
        transform: translateY(0%);
}

.portfolio-image {
    width: 100%;
    display: block;
}
.portfolio-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text-wrap {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-subtext {
display: none;
}

.portfolio-item:hover .portfolio-subtext:hover {
    transform: translateY(0%)
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}
@media screen and (min-width:768px) { 
.portfolio-list {
column-gap: 24px;
row-gap: 72px;
}
.portfolio-item {
flex-basis: calc((100% - 24px) / 2);
}
}
@media screen and (min-width:1158px) {
.portfolio-section {
        padding: 120px 0;
    }
.portfolio-list {
column-gap: 24px;
row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
flex-basis: calc((100% - 48px) / 3);
}
}
/* < !-- <============FOOTER============>--> */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-logo {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-container {
    display: flex;
   flex-direction: column;
}

.footer-info-text-container {
margin-bottom: 72px;
}
.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    text-align: center;
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-subtitle {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 72px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
    ;
}

.footer-icons {
    fill: #f4f4fd;
}

.social-icons-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 5;
    letter-spacing: 0.04em;
    color: #FFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: ;
}

.container-subscribe-footer {
padding-top: 72px;
}

.subscribe-text-subs {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-text {
    min-width: 288px;
        min-height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
}

.modal-form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-send-icon {
    fill: #fff;
    margin-left: 16px;
}
@media screen and (min-width:768px) {
.footer-container {
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
}
@media screen and (min-width:1158px) {
.footer-container {
display: flex;
align-items: baseline;
    }
}
/* < !-- <============BACKDROP============>--> */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 350px;
    margin-bottom: 16px;
}

.container-modal-field {
    margin-bottom: 26px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
    border-color: #4D5AE5;
}

.modal-icon:hover,
.modal-icon:focus {
    fill: #4D5AE5;
    border-color: #4D5AE5;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-field-wrap {
    position: relative;
}

.modal-icon {
    fill: 2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-checkbox {
    margin-bottom: 24px;

}

.checkbox-inp {}

.privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.privacy-policy-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.privacy-policy-link {
    color: #4d5ae5;
}

.btn-checkbox:checked+.privacy>.privacy-policy-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.icon-icon-checkbox {
    fill: #F4F4FD;
}

.form-button {
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    margin: auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked+.privacy>.privacy-policy-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
/* @media screen and (min-width: 320px) { */
/* 
.nav-list {
display: none;
}
.contacts-list {
display: none;
}
.header-logo {
padding: 16px 0;
}
.open-menu-btn {
padding: 0;
line-height: 0;
background-color: transparent;
cursor: pointer;
border: none;
}
.header-container {
    justify-content: space-between;
}
.menu {
display: none;
} */
/* .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob.jpg);
    max-width:4 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 72px 0;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    max-width: 216px;
    line-height: 1.11111;
    margin-bottom: 72px;
    text-align: center;
}
.benefits-icons {
    display:none;
}
.benefits-list {
display: flex;
flex-wrap: wrap;
flex-direction: column;
max-width: 288px;
gap: 72px;
}
.benefits-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
        margin: 0 auto;

}
/* } */
/* 
.open-menu-btn {
    display: none;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-logo {
    margin-right: 120px;
}

contacts-link {
    font-size: 12px;
    line-height: 1.16;
}

.section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-tablet.jpg);
    max-width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 112px 0;
    max-width: 768px;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
    margin-bottom: 36px;
    text-align: center;
}

.benefits-icons {
    display: none;
}

.benefits-subtitle {
    text-align: left;
}

.benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.benefits_item {
    width: calc((100% - 24px) / 2);
}
} */



























        /* .header-logo {
            margin-right: 76px;
        }
                .contacts-list {
                    flex-direction: row;
                    gap: 40px;
                }
contacts-link {
    font-size: 16px;
    line-height: 1.5;
} */
/* .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
} */

/* } */ */