.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 149px;
}
.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}


